/* Reset básico para margenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Finland', thin;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #0f172a;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    box-shadow: 0 8px 16px -4px #1b233d;
}

header nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

header nav .nav-toggle:focus:not(:focus-visible) {
  outline: none;
}

header nav .nav-toggle {
  display: block;
  font-size: 30px;
  border: 0;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  color: #e6f1f5;
}

header nav .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #0f172a;
  position: fixed;
  top: 80px;
  width: 100%;
  padding: 0;
  height: calc(100% - 80px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
}

header nav .nav-menu .nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
}

header nav .nav-menu .nav-menu-item a {
  color: #e6f1f5;
  text-decoration: none;
}

header nav .nav-menu .nav-menu-item .nav-menu-link {
  padding: 8px 12px;
  border-radius: 6px;
}

header nav .nav-menu .nav-menu-item .nav-menu-link:hover,
header nav .nav-menu .nav-menu-item .nav-menu-link_active {
  background-color: #313cd1;
  transition: 0.5s;
}

header nav .nav-menu-link:hover,
header nav .nav-menu-link_active {
  background: none;
  color: #313cd1;
  transition: left 0.3s;
}

header nav .nav-menu_visible {
  left: 0;
  transition: left 0.3s;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    background: #555;
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #e6f1f5;
    padding: 15px 20px;
}

section {
    background: #e6f1f5;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #e6f1f5;
}

/* Estilos adicionales para botones y enlaces */
button, .button {
    background-color: #5cb85c;
    border: none;
    color: #e6f1f5;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, .button:hover {
    background-color: #4cae4c;
}

.projectURL{
  color: #e6f1f5;
  text-decoration: none;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none; /* Esconde el menú en dispositivos pequeños */
    }
    .nav-toggle {
        display: block; /* Muestra el botón del menú en dispositivos pequeños */
    }
}

.dark-theme {
    background-color: #333; /* Fondo oscuro para el tema oscuro */
    color: #e6f1f5; /* Texto blanco para el tema oscuro */
}

.dark-theme a {
    color: #e6f1f5; /* Asegurarse que los enlaces son visibles en tema oscuro */
}

@media (min-width: 850px) {
    header nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      height: 80px;
    }
    header nav .nav-toggle {
      color: #e6f1f5;
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      cursor: pointer;
      display: none;
    }
    header nav .nav-menu {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      margin-right: 5%;
      list-style: none;
      margin: 0px;
      position: sticky;
      height: 80px;
    }
  }
  
  .bgProgramacion {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bgProgramacion img {
    width: 300px;
    margin-right: 1%;
    animation: opacidad 0.5s;
  }
  
  .bgProgramacion .presentacion {
    color: #e6f1f5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: opacidad 0.5s;
  }
  
  .bgProgramacion .presentacion h1 {
    color: #049fbb;
    font-size: 2rem;
    margin: 0;
  }
  
  .bgProgramacion .presentacion span {
    color: #e6f1f5;
    font-size: 1.5rem;
    min-height: 30px;
  }

  .card {
    width: 230px;
    border-radius: 20px;
    background: #1b233d;
    padding: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardContainer{
    display:flex;
    flex-direction: row;
    gap: 20px;
  }

  .card:hover {
    transform: scale(1.05);
  }
  
  .card .top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
  }
  
  .card .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: #e6f1f5;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
  }

  .card .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  .card .top-section .contentProject {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Alinea horizontalmente */
    height: 100%; /* Asegúrate de que el contenedor tenga altura para que el centrado vertical funcione */
}
.contentProject .mailmanImage {
  max-width: 90%; /* o el porcentaje que se ajuste mejor */
  max-height: 90%; /* o el porcentaje que se ajuste mejor */
  height: auto; /* mantiene la proporción de la imagen */
  width: auto; /* mantiene la proporción de la imagen */
}

  
  .card .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .card .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
  }
  
  .card .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;
  }
  
  .card .bottom-section .title {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: #e6f1f5;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .card .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
  }
  
  .card .bottom-section .row .item .big-text {
    font-size: 12px;
    display: block;
  }
  
  .card .bottom-section .row .item .regular-text {
    font-size: 9px;
  }
  
  .card .bottom-section .row .item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
  }


  #sobreMi .curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
  }
  
  #sobreMi .curriculum h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  
  #sobreMi .curriculum span {
    font-size: 1.1rem;
    color: #4d4d4d;
  }
  
  #sobreMi .curriculum a {
    text-decoration: none;
    color: #313cd1;
    background-color: #313cd1;
    padding: 3%;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 5px;
    margin-top: 5%;
  }
  
  #sobreMi .curriculum a span {
    color: white;
  }
  
  #sobreMi .curriculum a:hover {
    background-color: #4d4d4d;
  }